@media (max-width: 1279px)  {

    .active::before {
        top: 70px;
    }    
    /* Header */

    .header-center {
        max-width: 768px;
        padding: 30px 0 0 35px;
    }

    .nav-list {
        margin-right: 0;
    }
    
    .nav-list li {
        margin-right: 35px;
    }

    /* Not only */

    .not-only-center {
        max-width: 768px;
        margin-top: -90px;
        padding: 150px 154px 0;
        justify-content: space-between;
        flex-direction: column;
    }

    .not-only-article {
        margin-top: 0;
    }

    .not-only-img {
        background-size: cover;
        width: 569px;
        height: 593px;

        margin-left: 150px;
        margin-top: 57px;
    }
    
    .btn-make-a-friend{
        margin: 42px auto;
    }

    /* About block */

    .about-block {
        max-width: 768px;
        padding: 80px 169px 100px;
        flex-direction: column-reverse;
    }

    .about-img {
        margin-top: 80px;
    }

    /* Out Pets */

    .carousel-wrapper {
        width: 620px;
        overflow: hidden;
    }
    
    .carousel {
        position: relative;
        left: -590px;
        display: flex;
    }
    
    @keyframes move-right {
        from {left: -590px;}
        to {left: -1190px;}
      }
    
      .transition-right {
        animation-name: move-right;
        animation-duration: .5s;
      }
    
      @keyframes move-left {
        from {left: -590px;}
        to {left: 10px;}
      }

    .our-pets-center {
        padding: 80px 30px 100px;    
        margin: auto;
        max-width: 768px;
    }

    .pet-3 {
        display: none;
    }

    .our-pets-table {
        justify-content: space-between;
    }

    .table-cards {
        gap: 40px;
    }

    .button-left {
        margin-right: 12px;
    }

    .button-right {
        margin-left: 12px;
    }

    /* How can you help */

    .how-can-you-help-block {
        max-width: 768px;
        padding-left: 50px;
    }

    .card-number {
        margin-top: -5px;
    }

    .card-type-help-block {
        margin-top: -55px;
        margin-right: 0px;
        justify-content: space-between;
    }
    
    .card-type-help {
        margin-top: 55px;
        margin-right: 0px;
        width: 30%;
    }
    
    /* Donation */

    .donation-block-center {
        padding: 80px 131px 100px;
        max-width: 768px;
        flex-direction: column-reverse;
    }

    .donation-dog {
        margin-top: 59px;
        margin-left: 25px;
    }

    /* Contact block */

    .footer-center {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        padding: 15px 50px 0;
        max-width: 768px;
    }

    .for-visit {
        margin-left: 20px;
    }

    .footer-puppy {
        margin-top: 65px;
    }

    /* popup */

    .popup {
        width: 660px;
        height: 380px;
    
        margin-left: -330px;
    
        margin-top: -190px;
    }
    
    .popup-photo {
        width: 380px;
        height: 380px;
        margin-right: 11px;
    }
    
    .popup-info-block {
        width: 260px;
        padding-top: 10px;
    }
    
    .popup-info-block h4{
        line-height: 45.5px;
    }
    
    .popup-info-block .popup-type-pet {
        line-height: 23px;
        margin-bottom: 20px;
    }
    
    .popup-info-block .popup-text {
        font-size: 13px;
        line-height: 14.3px;
        margin-bottom: 20px;
    }
    
    .popup-info-block .popup-list li {
        font-size: 15px;
        line-height: 16.5px;
    }

    .btn-popup-exit {    
        top: -52px;
        left: 660px;
    }
}

@media (max-width: 767px)  {

    /* Header */

    .black-burger {
        right: -320px;
        transition: .3s;

        position: absolute;
        top: 0;
        display: block;
        
        z-index: 1;
        width: 100%;
        height: 100rem;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;

        animation: blackBurgerRight;
        animation-duration: .5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }
    
    .black-burger-active {
        display: block;
        animation: blackBurgerLeft;
        animation-duration: .5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    @keyframes blackBurgerLeft {
        0% {
            right: -320px;
            opacity: 0;
        }
        100% {
            right: 0;
            opacity: 1;
        }
    }

    @keyframes blackBurgerRight {
        0% {
            right: 0;
        }
        99% {
            right: -320px;
        }
        100% {
            opacity: 0;
        }
    }

    .header-center {
        padding: 30px 55px 0 10px;
        max-width: 700px;
        margin-right: 0;
        justify-content: right;
    }

    .logo {
        z-index: 10;
        transition: .3s;
        position: relative;
    }

    .burger {
        position: relative;
        display: block;
        z-index: 10;

        margin-top: 19px;
        margin-left: 38px;
        width: 30px;
        height: 30px;

        border-top: 2px solid #F1CDB3;

        transition: .3s;
    }

    .burger::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        z-index: 10;

        top: 9px;

        border-top: 2px solid #F1CDB3;
        
        transition: .3s;
    }

    .burger::after {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        z-index: 10;
        
        top: 20px;

        border-top: 2px solid #F1CDB3;
        
        transition: .3s;
    }

    .burger-active {
        transform: rotate(90deg) translate(-4px, 3px);
        transition: .3s;
    }

    .desktop-nav {
        display: none;
    }

    .burger-nav {
        right: -320px;
        transition: .3s;

        position: absolute;
        z-index: 5;
        top: 0;
        background-color: #292929;
        width: 320px;
        height: 100rem;
        display: block;
        
        animation: burgerRight;
        animation-duration: .5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    .burger-nav-none, .black-burger-none {
        display: none;
    }

    .burger-nav-unvis {
        transition: .3s;
        animation: burgerLeft;
        animation-duration: .5s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
    }

    @keyframes burgerLeft {
        0% {
            right: -320px;
            opacity: 0;
        }
        100% {
            right: 0;
            opacity: 1;
        }
    }

    @keyframes burgerRight {
        0% {
            right: 0;
        }
        99% {
            right: -320px;
        }
        100% {
            opacity: 0;
        }
    }

    .burger-nav ul {
        display: flex;
        flex-direction: column;

        text-decoration: none;

        padding: 248px 0 0 38px;

        width: calc(100% - 38px);
    }

    .burger-nav ul li a{
        font-size: 32px;
        line-height: 1.6em;
    }

    .burger-nav ul li {
        margin-bottom: 42px;
    }

    .active::before {
        top: 300px;
        width: 243px;
    }   

    .burger-nav-unvis-active {
        display: block;
        right: 0;
    }

    /* Not only */

    .not-only-center {
        padding: 150px 10px 0;
    }

    .not-only-article h2 {
        font-weight: 400;
        font-size: 25px;
        text-align: center;
        max-width: 220px;
        line-height: 1.3em;
        margin-left: 40px;
        letter-spacing: 0.06em;
    }
    
    .not-only-article p {
        max-width: 300px;
        font-size: 15px;
        line-height: 1.6em;

        text-align: center;
    }

    .not-only-img {
        width: 260px;
        height: 271px;
        margin-left: 45px;
        margin-top: 63px;
    }

    /* About */

    .about-block {
        padding: 42px 25px;
        max-width: 320px;
    }
    
    .about-text h2 {
        text-align: center;

        font-size: 25px;
        line-height: 32.5px;
        margin-bottom: 25px;
    }

    .about-text p {
        text-align: justify;
        line-height: 24px;
        margin-top: 22px;
    }
    
    .about-img {
        margin-top: 42px;
        width: 260px;
        height: 353px;
    }

    /* Our pets */

    .carousel-wrapper {
        width: 270px;
        overflow: hidden;
    }
    
    .carousel {
        position: relative;
        left: -300px;
        display: flex;
    }
    
    @keyframes move-right {
        from {left: -300px;}
        to {left: -590px;}
      }
    
      .transition-right {
        animation-name: move-right;
        animation-duration: .5s;
      }
    
      @keyframes move-left {
        from {left: -300px;}
        to {left: -10px;}
      }

    .our-pets-center {
        padding: 42px 25px; 
        margin: auto;
        max-width: 320px;
    }

    .our-pets-center h3 {
        font-size: 25px;
        text-align: center;
        max-width: 300px;
        line-height: 32.5px;
    }

    .pet-2 {
        display: none;
    }

    .our-pets-table {
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 42px 0 38px;
        height: auto;
    }
    
    .table-cards {
        width: 270px;
    }

    .btn-left-desk {
        display: none;
    }

    .btn-left-320 {
        display: block;
    }

    .button-left {
        margin-right: 25px;
    }

    .button-left, .button-right {
        margin-top: 18px;
    } 

    .our-pets-btn {
        margin-top: 0;
    }

    /* How can you help */

    .how-can-you-help-block h3 {
        text-align: center;
        font-size: 25px;
        line-height: 32.5px;
        max-width: 240px;
        margin-bottom: 40px;
    }

    .petFoodImg, .transportationImg, .toysImg, .bowlsAndCupsImg, 
    .shampoosImg, .vitaminsImg, .medicinesImg, .collarsLeashesImg, .sleepingAreasImg {
        width: 50px;
        height: 50px;
        background-size: 50px 50px;
        background-position: center;
        margin-bottom: 20px;
    }

    .how-can-you-help-block {
        max-width: 320px;
        padding: 42px 15px;
    }

    .card-type-help-block {
        margin-top: -30px;
        margin-right: 0px;
        justify-content: space-between;
    }
    
    .card-type-help {
        margin-top: 30px;
        margin-right: 0px;
        width: 130px;
    }
    
    .card-type-help p {
        font-size: 15px;
    }

    /* Donation */

    .donation-block-center {
        padding: 42px 10px  ;
        max-width: 320px;
    }

    .donation-card {
        max-width: 300px;
        align-items: center;
    }

    .donation-card h3 {
        text-align: center;
        font-size: 25px;
        max-width: 220px;
    }

    .donation-dog {
        margin-top: 42px;
        margin-left: 30px;
        width: 260px;
        height: 135.2px;
    }

    .name-of-bank {
        line-height: 1.6em;
        text-align: center;
        letter-spacing: 0;
    }

    .card-number {
        width: 251px;
        height: 23px;
    }

    .number a {
        font-size: 15px;
        line-height: 1.1em;
    }

    .legal-inf {
        max-width: 280px;
        text-align: justify;
    }

    /* Contact block */

    .footer-center {
        padding: 15px 30px 0;
        max-width: 320px;
        align-items: center;
    }

    .for-visit h3, .for-questions h3 {
        font-size: 25px;
        text-align: center;
    }

    .for-visit , .for-questions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .info {
        justify-content: center;
        margin-bottom: 5px;
    }

    .for-questions .info-text a{
        max-width: 191px;
    }

    .telephone-icon {
        margin-left: 5px;
    }

    .for-visit {
        margin: 20px 0 0;
    }

    .for-visit h3 {
        margin-bottom: 8px;
    }

    .footer-puppy {
        margin-top: 35px;
        width: 260px;
        height: 269px;
    }

    /* popup */

    .popup {
        width: 240px;
        height: auto;
    
        margin-left: -120px;
    
        margin-top: calc(auto/2);
        padding-bottom: 10px;
    }
    
    .popup-photo {
        display: none;
    }
    
    .popup-info-block {
        width: 220px;
        padding-top: 10px;
        margin-left: 10px;
    }

    .popup-info-block h4 {
        margin-bottom: 10px;
        text-align: center;
    }
    
    .popup-info-block .popup-type-pet {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .popup-info-block .popup-text {
        text-align: justify;
    }

    .popup-info-block .popup-list li {
        margin-bottom: -2px;
    }

    .btn-popup-exit {    
        top: -55px;
        left: 210px;
    }
}